<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required />
      </mat-form-field>
      <div *ngIf="registrationSuccess" style="color: green; margin-top: 10px">
        Registration successful!
      </div>
      <div *ngIf="registrationError" style="color: red; margin-top: 10px">
        {{ registrationError }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</form>
