<div class="form-container">
  <form class="register-form" [formGroup]="registerForm">
    <h2>Register</h2>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required />
    </mat-form-field>
    @if(registrationSuccess) {
    <div style="color: green; margin-top: 10px">Registration successful!</div>
    } @if(registrationError) {
    <div style="color: red; margin-top: 10px">
      {{ registrationError }}
    </div>
    }
  </form>

  <div style="display: flex; gap: 1rem">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
      (click)="onSubmit()"
      style="flex: 1"
    >
      Register
    </button>
    <button mat-raised-button [routerLink]="'/'" color="accent" style="flex: 1">
      Cancel
    </button>
    <!-- Loader Overlay -->
  </div>
  @if(loading) {
  <div class="loader-overlay">
    <mat-progress-spinner
      diameter="60"
      mode="indeterminate"
      color="primary"
    ></mat-progress-spinner>
  </div>
  }
</div>
